* {
  margin: 0;
  padding: 0%;
}

@font-face {
  font-family: KiaSignatureLight;
  src: url("./Fonts/KiaSignatureLight.ttf");
}
@font-face {
  font-family: KiaSignatureBold;
  src: url("./Fonts/KiaSignatureBold.ttf");
}

@font-face {
  font-family: KiaSignatureRegular;
  src: url("./Fonts/KiaSignatureRegular.ttf");
}
