@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');



footer{
    background-color: rgb(22, 21, 21);
    margin-top: 10vmax;
    padding: 1.5vmax;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: -2.5vmax;
}


#instagram{
    margin-right: 20px;
    font-size: 25px;
    /* color: red; */
    text-align: center;
    color: white ;
    display: inline-block;

}


#whatsapp{
    margin-right: 20px;
    font-size: 25px;
    /* color: green; */
    color: white ;
    text-align: center;
    display: inline-block;

    
}
#facebook{
    margin-right: 20px;
    font-size: 25px;
    /* color: blue ; */
    color: white ;
    text-align: center;
    display: inline-block;
}

.leftFooter{
width: 60%;
text-align: center;
margin: 1.5vmax;

}

.leftFooter h4{
font-size: 3.6vmax;
color: rgb(0, 157, 255);
font-family: "Roboto";
/* animation: neon1 1.5s ease-in-out infinite alternate;   */
  }

/* #ff1177  to blue */

/* @keyframes neon1 {
    from {
      text-shadow: 0 0 10px rgb(0, 136, 255), 0 0 20px rgb(0, 136, 255), 0 0 30px rgb(0, 136, 255), 0 0 40px blue,
        0 0 70px blue, 0 0 80px blue, 0 0 100px blue, 0 0 150px blue;
    }
    to {
      text-shadow: 0 0 5px rgb(0, 136, 255), 0 0 10px rgb(0, 136, 255), 0 0 15px rgb(0, 136, 255), 0 0 20px blue,
        0 0 35px blue, 0 0 40px blue, 0 0 50px blue, 0 0 75px blue;
    }
  } */


    .leftFooter h5{
        max-width: 60%;
margin: 2vmax auto;
transition: 1s;
            }

.rightFooter{
    width: 40%;
    display: flex;
    flex-direction: column;
align-items: center;    
transition: 1s;
}
.rightFooter h5{
font-size: 2vmax  ;    
text-decoration: underline;
}

.rightFooter h5:hover{
    color:rgb(0, 157, 255)
}


.Section2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}


#instagram:hover{

color: rgb(255, 3, 255);

}

#whatsapp:hover{
    color: rgb(0, 255, 0);
}

#facebook:hover{
color: blue;
}



@media only screen and (max-width: 1250px) {
    footer{
        margin-bottom: -5vmax;
    }
}