.Footer {
  background-color: #05141f;
  display: flex;
  flex-direction: row !important;
}
.First {
  width: 55%;
}
.forResponsive {
  display: flex;
  width: 67%;
}
.Page-Link {
  display: flex;
  flex-direction: column;
}
.Page-Link > a {
  color: white;
  text-decoration: none;
  margin: 1vmax;
  margin-left: 1.4vmax !important;
}

.SocialLink > button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.3vmax;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin: 0.6vmax;
}
.First {
  margin: 1vmax;
}
.First > img {
  width: 100%;
}
.Middle {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 45%;
}
.Middle > div {
  border: 2px solid white;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.Middle > div > input {
  width: 100%;
  padding: 1vmax;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}
.Middle > div > input::placeholder {
  color: white;
}
.Middle > div > button {
  width: 100%;
  border: none;
  outline: none;
  padding: 1vmax;
}
.Last {
  color: white;
  margin: 1vmax;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 33%;
}

@media only screen and (max-width: 770px) {
  .Footer {
    background-color: #05141f;
    /* min-height: 60vmin; */
    display: flex;
    flex-direction: column !important;
  }
  .forResponsive {
    width: 96%;
    margin: 1vmax;
  }
  .SocialLink > button {
    padding: 0.3vmax;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    margin: 1.6vmax !important;
  }
  .Page-Link > a {
    margin-left: 3vmax !important;
  }
  .Last {
    width: 90% !important;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
